.vscode/

tester/__pycache__/
tester/params/__pycache__/

src/non-func-monitors/bin

src/clients/bibliotecario/handler/bin
src/clients/bibliotecario/functions/*/bin

src/clients/fornitore/handler/bin
src/clients/fornitore/functions/*/bin

src/clients/utente/handler/bin
src/clients/utente/functions/*/bin

*.o

